@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  color: #555454;
  font-family: "Roboto", sans-serif;
}

header{
  background-color: rgba(255, 255, 255, 0.866);
}

header nav a {
  text-transform: uppercase;
  transition: .6s;
  transform: translateY(0);
}

header nav a:hover{
  transform: scale(1.1);
}

header nav ul a {
  padding: 0;
  margin: 3px 12px;
  text-transform: uppercase;
}

header nav ul a:hover {
  opacity: 50%;
  border-bottom: 1px solid rgb(4, 4, 4);
  transform: scale(1.1);
}

.hero {
  background-image: linear-gradient(rgb(255, 255, 255), transparent), url(../img/ordi.jpg);
  display: flex; 
  flex-direction: column;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  background-size: cover; 
  background-position: center; 
  padding: 20px; 
  height: 430px;
}


body a {
  padding: 0.8em;
  text-decoration: none;
  color: #333;
}

.hero h1 {
  border-style: dotted;
}

main h2 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-bottom: 2px solid #555454;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

main .about {
  display: flex;
  flex-direction: column;
  margin: 9em 3em;
  align-items: center;
  gap: 5px;
  padding: 3em;
}

main h3 {
  padding: 0.8em;
  font-weight: bold;
}

main p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

main .about .infos {
  display: flex;
  gap: 5em;
  flex-direction: row;
  margin: 1em;
  align-items: center;
  flex-wrap: wrap;
}

main .about .infos .info {
  max-width: 650px;
  min-width: 270px;
}


main .about .infos div:first-child {
  box-shadow: 0px 0px 3px 2px rgba(221, 221, 221, 0.5294117647);
  padding: 15px;
  margin: 5px 0px;
  line-height: 2em;
}

main .about .infos div:first-child:hover {
  box-shadow: 0px 0px 14px 14px rgba(242, 239, 239, 0.8549019608);
}

main .about .infos div:nth-child(2) {
  box-shadow: 0px 0px 3px 2px rgba(221, 221, 221, 0.5294117647);
  padding: 8px;
  margin: 5px 0px;
  line-height: 2em;
}

main .about .infos div:nth-child(2):hover {
  box-shadow: 0px 0px 14px 14px rgba(242, 239, 239, 0.8549019608);
}

.about .infos div:first-child ul li {
  list-style: none;
  display: inline-block;
  padding: 0.5em;
  margin: 0.2rem;
  background-color: #917874;
  color: white;
  border-radius: 18px;
  transition: .6s;
  transform: translateY(0);
}

.about .infos div:first-child ul li:hover{
  transform: scale(1.1);
}

main .about .infos div:first-child .curriculum {
  background-color: #d6d0b6;
  text-decoration: none;
  color: rgb(241, 241, 241);
  padding: 10px 25px;
  margin: 1em;
  border: 1px solid darkgrey;
  border-radius: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

main .about .infos div:first-child .curriculum:hover {
  background-color: rgb(57, 156, 115);
}

main .about .infos div:nth-child(2){
  margin: 20px;
  padding: 20px;
}

main .about .infos div:nth-child(2) q {
  font-style: italic;
  font-size: 0.95rem;
}

main .about .infos div:nth-child(2) ul li {
  list-style: none;
  padding: 3px;
  text-align: center;
  background-color: #d0948363;
  margin: 5px;
  border-radius: 5px;
  transition: .6s;
  transform: translateY(0);
}

main .about .infos div:nth-child(2) ul li:hover {
  transform: scale(1.1);
}



main .skills {
  background-color: #f9f6f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9em;
  margin: 4em 0em;
  text-align: center;
  justify-content: center;
  gap: 3em;
}

main .skills .skills-types {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  text-align: center;
  margin-top: 2em;
  gap: 20px;
  margin: 1em;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100px;
}

main .skills .skills-types .background {
  background-color: #fff;
  border-radius: 40px;
  margin: 0em 1em;
  padding: 1em;
  position: relative;
}

main .skills .skills-types .background ul {
  padding: 0;
}

main .skills .skills-types .background ul li {
  list-style: none;
  display: inline-block;
  padding: 0 1em;
  margin: 0.6rem;
  border-radius: 18px;
  color: #fff;
  background: #D09483;
  transition: .6s;
  transform: translateY(0);
}

main .skills .skills-types .background ul li:hover {
  transform: scale(1.1);
}

form p .request_message {
  width: 400px;
  text-transform: capitalize;
  background-color: #fff;
  text-align: center;
  color: #27a158;
  font-size: 13px;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  animation: anime 0.5s ease-out;
}

/* animation message envoi */
@keyframes anime {
  from {
    transform: translateY(-70px);
  }
} 


main .form {
  padding: 5em;
  background-size: cover;
}

main .form .container {
  background-color:  #f9f6f1;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
  /* text-align: center; */
  width: 100%;
  max-width: 850px;
}

main .form .container abbr {
  color: firebrick;
  text-decoration: none;
}

main .form .container p:nth-child(3) {
  font-size: 0.7em;
  margin-top: 3em;
  font-weight: bold;
}

main .form .container input {
  background-color: #ffffffe3;
  color: darkslategray;
  padding: 12px 20px;
  border: 1px solid lightgrey;
  cursor: pointer;
  margin: 5px;
}

main .form .container div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.container h2 {
  text-align: center;
}

.okay {
  background-image: url(../img/sendmsg.jpg);
  /* display: flex; 
  flex-direction: column;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  background-size: cover; 
  background-position: center; 
  padding: 20px; 
  height: 430px; */
}